apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
patches:
  - target:
      kind: Deployment
      name: testapp
    patch: |
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: production
